/* You can add global styles to this file, and also import other style files */


/* Your other global styles go here */
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px',
  ));
  @include mat.badge-overrides((
    background-color: blue,
   ));
}

// .match-input-height {
//   height: var(--mat-form-field-container-height) !important;
// }

.mdc-notched-outline__notch {

  border-right-style: none !important
}
.input-button-group .match-input-height {
  height: 56px;               /* Match mat-form-field outline height */
  display: flex;
  align-items: center;        /* Center icon + text vertically */
  padding: 0 16px;            /* Keep default horizontal padding */
}

.input-button-group mat-form-field {
  height: 56px;
}

.input-button-group mat-form-field .mat-mdc-text-field-wrapper {
  height: 56px;
  display: flex;
  align-items: center;
}

.snack-error {
  @include mat.snack-bar-overrides((
  button-color: black,
  container-color: orange,
  supporting-text-color: black
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
  button-color: white,
  container-color: green,
  supporting-text-color: white
  ));
}